/* Section Styles */

section{
    //height: 90vh;
}
section h2{
    padding-top: 4rem;
}

/* Nav
--------------------------------------------*/

.nav {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1.5rem 0rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

nav ul {
    list-style-type: none;
    margin-bottom: 0rem;
}

nav ul li {
    display: inline;
    padding-right: 2rem;
}

#nav-logo {
    width: 3rem;
    fill: #222;
    position: relative;
    top: 0.5rem;
}

nav ul li a{
    color: #222;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

.resToggle {
  color: #222;
  display: none;
  height: 100%;
  font-size: 2rem;
  border-radius: 0px;
  background: none;
  border: none;
  margin: 0px;
  padding: 0.8rem;
}

.resToggle:hover {
    //color: #222;
}

.active ul li{
    display: block;
}


/* Hero
---------------------------------------------*/

.hero {
    padding: 5rem 0rem;
    height: 100vh;
    background: url('../img/Seasons-blend.png') no-repeat center center;
    background-size: cover;
    text-align: center;

}

#hero-logo {
    fill: white;
    width: 60%;
    padding-top: 15rem;
}

.hero h1 {
    color: white;
    font-size: 15rem;
    font-weight: bold;
    text-align: center;
}



/* About 
------------------------------- */
.about{

}

.about p {
    display: block;
    margin: 0 auto 4rem auto;
    text-align: center;
}

.about .four{
    text-align: center;
}

.about ul {
    margin-top: 2rem;
}

.mug {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding: 3rem;
}

.bullet {
    font-size: 5rem;
    border: 3px solid #1F8CAE;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    color: white;
    text-shadow: 2px 2px 5px #1F8CAE;
    margin: 2rem auto;
    background-color: #33C3F0;
    overflow: hidden;
}

.bullet i {
    position: relative;
    top: 2rem;
 text-shadow: rgb(10, 142, 175) 1px 1px,
    rgb(10, 142, 175) 2px 2px,
    rgb(10, 142, 175) 3px 3px,
    rgb(10, 142, 175) 4px 4px,
    rgb(10, 143, 176) 5px 5px,
    rgb(10, 144, 177) 6px 6px,
    rgb(10, 144, 178) 7px 7px,
    rgb(10, 145, 179) 8px 8px,
    rgb(10, 146, 179) 9px 9px;
    
}

.bullet-point{
    font-size: 2rem;
    font-weight: bold; 
    padding-bottom: 1rem;
    border-bottom: 3px solid #1EAEDB;
    border-radius: 3px;  
}





/* Work
------------------------------- */
.work {
    margin: 4rem 0rem;
}

.art {
    margin-bottom: 4%;
}

#gallery figcaption {
 display: none;
}

 .thumb-unit{
         display: block;
         background-color: pink;
         background-image: url('/img/Seasons-blend.png');
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
         padding-bottom: 20rem;
         width: 100%;
         margin: 4%;
         position: relative;
         overflow: hidden;
         color: white;
         box-shadow: 2px 2px 5px black;
     }
     .thumb-unite strong{
          padding-top: 2.5rem;
     }
     .thumb-overlay{
          position: absolute;
          top: 100%;
          left: 0px;
          right: 0px;
          height: 100%;
          margin: 0 auto;
          background-color: rgba(255,0,255, 0.7);
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -ms-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
     }
     .thumb-unit:hover
     .thumb-overlay{
         position: absolute;
         top: 0%;
         bottom: 0px;
         left: 0px;
         right: 0px; 
         color: white;
     }
     
     #one {
         background-image: url('/img/eic_bumper.png');
     }
     #two {
         background-image: url('/img/kathy_stone.png');
         background-size: cover;
     }
     #three {
         background-image: url('/img/joe_blow.png');
     }
     #four {
         background-image: url('/img/ken_pozek.png');     
     }
     #five {
         background-image: url('/img/meighan.png');     
     }
    #six {
        background-image: url('/img/meighan.png');
    }
    #seven {
        background-image: url('/img/thrillz.png');
    }
    #eight {
        background-image: url('/img/olea.png');
    }
    #nine {
        background-image: url('/img/olea.png');
    }

    #ten {
        background-image: url('/img/olea.png');
    }
    #eleven {
        background-image: url('/img/olea.png');
    }
    #twelve {
        background-image: url('/img/olea.png');
    }
    #thirteen {
        background-image: url('/img/olea.png');
    }
    #fourteen {
        background-image: url('/img/olea.png');
    }
    #fifteen {
        background-image: url('/img/olea.png');
    }
     #sixteen {
        background-image: url('/img/portfolio/Illustration/Will_representation.jpg');

     }
    
    #seventeen {
         background-image: url('/img/portfolio/Illustration/Portal.jpg');
     }

    #eighteen {
         background-image: url('/img/portfolio/Illustration/Slender.jpg');
     }

    #nineteen {
         background-image: url('/img/portfolio/Illustration/ninja_turtle.jpg');
     }

     #twenty {
         background-image: url('/img/portfolio/Illustration/Rainbow_hair.jpg');
     }

    #twenty-one {
         background-image: url('/img/portfolio/Illustration/waves.jpg');
         background-position: top right;
     }

     #twenty-two {
        background-image: url('/img/portfolio/Illustration/gun_show.jpg');
     }
  
     #twenty-three {
        background-image: url('/img/portfolio/Illustration/Trainspotting.jpg');
        background-position: center left;
     }

     #twenty-four {
        background-image: url('/img/portfolio/Illustration/gridluv.jpg');
     }

/* Video Embed Code
--------------------------------*/

.embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 4%;
    }
.embed-container iframe,
.embed-container object,
.embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


/* Footer
------------------------------ */

footer {
    width: 100%;
    padding-top: 1rem;
    background: #323232;
    color: white;
}

footer h2{
    padding-top: 6.3rem;
}

footer textarea, input {
    height: 30vh;
    color: #222;
}

footer input[type="submit"]{
    width: 100%;
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
    text-shadow: 2px 2px 5px #1F8CAE;
    border: 5px solid #1F8CAE;
}

.socials {
    list-style-type: none;
}
.socials li{
    display: inline;
    padding-right: 2rem;
}

.socials li a {
    font-size: 4rem;
    text-decoration: none;
}

.contact-info {
    font-size: 2rem;
}

/* @ Meidas
------------------------------*/

@media (max-width: 550px) {
 .resToggle {
     display: inline;
 } 
nav {
    display: none;
}

#nav-logo{
    display: none;
}

.socials li a{
   font-size: 3rem;
}
.active{
    display: block;
}

footer h2{
    padding-top: 1rem;
}

}

@media (max-width: 400px) {
   .socials li a{
   font-size: 4rem;
  }
}